<!DOCTYPE html>
<html lang="en">
<head>
<title>login Page</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

form {

   text-align: center;
   font-size: 35px;
   color: white;
   padding:20px;
   backgorund-color:lightblue;

}

</style>
</head>
<header> Register New User </header>
<body>

<form method="post" action="/save">
 <input type = "text" placeholder="Enter first  name " name="firstname" >
 <br>
 <input type = "text" placeholder="Enter last Name " name="lastname" >
 <br>
 <input type = "text" placeholder="Email id " name="email" >
 <br>
 <input type = "password" placeholder="Password " name="pass" >
 <br>
 <input type ="submit" value ="Create" > 
</form>
</body>
<html>